<h1>Trails of <%= @national_park.name %> National Park</h1>
 <%= link_to "Create Trail", "/national_parks/#{@national_park.id}/trails/new" %>

<% @trails.each do |trail| %>
  <h2><%= trail.name %></h2>
  <h3> Total Distance(miles): <%= trail.length_miles %></h3>
  <h3> Elevation Gain(ft): <%= trail.feet_elevation_gain %></h3>
  <h3> Water Source: <%= trail.water_source %></h3>
<% end %> 

<%= link_to "Sort trails by alphabetical order", {:sort_param => "name"} %>